.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
.aider*
**/*.ts
**/.vscode-test.*
dist-tests/**
**/eslint.config.mjs
assets/readme-gifs/**
assets/readme-pics/**
docs/**
.github/**
.mypy_cache/**
