/*#region FirstRegion*/
$main-color: #3498db;
/*#endregion*/

/**   #region Second Region **/
.container {
  /*  #region    InnerRegion   */
  color: $main-color;
  /*** #endregion   ends InnerRegion   **/

  //  #region 
  margin: 20px;
  //#endregion 
}

/* #endregion */